<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!-- Thay doi connection string phu hop voi SQL Server cua ban -->
    <add name="QuanLyThuVienDB" 
         connectionString="Data Source=localhost\SQLEXPRESS01;Initial Catalog=QuanLyThuVienDB;Integrated Security=True;TrustServerCertificate=True;" 
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
